.whole{
    
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 10vh;
    
  
   
}
.f{
    background-color: rgb(84, 107, 129);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 40px 0 10px rgba(159, 198, 221, 0.1);
    border-radius: 3%;
    gap: 2rem;
    padding-bottom: 20px;
    width: 20rem;
   
 }
 .image>img{
     width: 5rem;
 }

 @media screen and (max-width:655px){
    .whole{
     position: relative;
     top: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .f{
    
        padding: 1rem;
      background-color: rgb(146, 157, 167);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        padding-bottom: 20px;
        
        
     }
 }